html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/******** FIX MY GLOBAL STYLING PROBLEM AND MOVE THESE INTO A LOCAL STYLESHEET ******/


.landing-main {
  display: flex;
  height:100%;
  min-height: 100vh;
}

.landing-sidebar {
  background-color: grey;
  text-align: center;
  min-width: 20%;
  max-width: 25%;
}

.landing-sidebar > p {
  font-size: large;
  width: 75%;
  margin: 15% auto;
  line-height: 1.6;
}

.landing-sidebar > div {
  width: 50%;
  height: 20%;
  margin: 10px auto;
}

.landing-content {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.connect-wallet-container {
  height: 64px;
  position: absolute;
  z-index: 10;
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.connect-wallet  {
  height: 40px;
  min-width: 20%;
  max-width: 30%;
  margin-right: 5%;
  margin-top: 20px;
  border-radius: 15px;
}

.connect-wallet:hover {
  cursor: pointer;
}

.connect-wallet a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  font-size: large;
}

.buttons {
  width: 100%;
  margin-top: 25%; 
}

.buttons-top-row {
  display: flex;
  justify-content: center;
}

.buttons-bottom-row {
  display: flex;
  justify-content: center;
}

.last-landing-button {
  width: 80%;
  margin: 0 auto;
}

.heavy {
  font-style: italic;
  font-weight: bold;
}

.landing-button-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  border: 2px solid black;
  border-radius: 40px;
  padding: 8px;
  margin: 20px;
}

.landing-button-container:hover {
  cursor: pointer;
}

.disabled {
  cursor: auto !important;
  color: grey;
  border: 2px solid grey;
}

.landing-button-container img, .top-card img {
  max-width: 40px;
  max-height: 40px;
}

.landing-button-container a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px 10px;
}

.landing-button-text {
  display: flex;
  flex-direction: column;
}

.landing-button-text h2 {
  text-decoration: underline;
  font-size: 40px;
}

.landing-button-text h2, .landing-button-text p {
  margin: 5px;
  margin-right: 12px;
}

.landing-button-img {
  max-height: 50%;
  width: 80% !important;
}

  /**** WALLET MODAL *****/
#topDiv {
  display: block;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

#modalWindow {
  background-color: rgba(105,105,105, 0.75);
  margin: 5% auto;
  padding:20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-window-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.wallet-header {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.wallet-header img {
  width: 40px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.wallet-header h2 {
  text-decoration: underline;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: rgba(243, 244, 246, 1);
}

.wallet-modal-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.wallet-modal-button button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 40px;
  background-color: rgba(249, 250, 251, 1);
  padding: 3px 10px;
  width: 50%;
  margin: 10px 0;
}

.wallet-modal-button img {
  /* width: 22px; */
  /* padding-left: 15px; */
}

.wallet-modal-button p {
  padding: 2px 8px;
  font-size: x-large;
  margin-left: 55px;
}

.new-account-button button {
  width: 60%;
}

/* .metamask-button > button > img {
  width: 50px !important;
} */

  /**** WALLET MODAL *****/



  /**** QR MODAL *****/

#qrContainer {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

#qrBackground {
  padding-top: 8px;
  padding-bottom: 4px;
  margin: 0 auto;
  margin-bottom: 4px;
  width: 67%;
  background-color: rgba(107, 114, 128, 1);
  border-radius: 1.5rem;
}

.qr-code {
  margin: 0 auto;
  margin-bottom: 0.625rem;
}

#joinModalText {
  width: 440px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 1px 3px 1px 3px;
  border-radius: 20px;
  font-size: larger;
}

.modal-button {
  background-color: rgba(59, 130, 246, 1);
  color: white;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 2px;
}

.modal-button:hover {
  background-color: rgba(29, 78, 216, 1);
}
  /**** QR MODAL *****/



  /**** INTEGRATE PAGE *****/

  .integrate-main {
    display: flex;
    height:100%;
  }

.integrate-sidebar {
  background-color: grey;
  text-align: center;
  min-width: 20%;
  max-width: 25%;
  min-height: 100vh;
}

.integrate-header {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.integrate-sidebar > h2 {
  font-size: x-large;
  width: 75%;
  margin: 15% auto;
}

.integrate-sidebar > div {
  width: 50%;
  height: 20%;
  margin: 10px auto;
}

.integrate-sidebar > p {
  font-size: 20px;
  width: 75%;
  margin: 15% auto;
}

.integrate-template-content {
  border: 2px solid black;
  border-radius: 20px;
  margin: 0 15px;
}

.template-card {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 286px;
  max-width: 35%;
  padding: 16px;
  border-right: 1px solid black;
}

.template-card h3 {
  font-weight: bold;
}

.card-black {
  background-color: black;
  color: white;  
}

.card-white {
  background-color: white;
  color: black;  
}

.template-card:hover {
  cursor: pointer;
}

.top-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.top-card > *:first-child {
  margin-right: 15px !important;
}

.image-7 {
  height: 89px;
  width: 89px;
}

.integrate-project-types:last-child > .top-card > *:first-child {
  margin-right: 5px !important;
}

.title-white-card {
  letter-spacing: 0.15px;
  line-height: 22px;
  min-height: 54px;
  min-width: 144px;
  text-align: left;
  white-space: nowrap;
  color:black;
  display: flex;
  align-items: center;
}

.title-black-card {
  letter-spacing: 0.15px;
  line-height: 22px;
  min-height: 54px;
  min-width: 144px;
  text-align: left;
  white-space: nowrap;
  color: white !important;
  display: flex;
  align-items: center;
}

.raleway-bold-alto-22px {
  color: black;
  font-size: 22px;
  font-weight: 700;
}

.line-26 {
  height: 1px;
}

.raleway-normal-alto-18px {
  color: black;
  font-size: 16px;
  font-weight: 300;
}

.description-white-card {
  letter-spacing: 0px;
  line-height: 24px;
  text-align: left;
  flex: 1;
  width: 100%;
  padding: 20px;
  color:black;
  min-height: 15vw;
}

.description-black-card {
  letter-spacing: 0px;
  line-height: 24px;
  text-align: left;
  flex: 1;
  width: 100%;
  padding: 20px;
  color:white;
  min-height: 15vw;
}

.integrate-project-types {
  display: flex;
}

.auto-flex1 {
  display: flex;
  align-items: center;
  width: 100%;
}

.number-1 {
  letter-spacing: 0px;
  line-height: 14px;
  min-height: 18px;
  min-width: 10px;
  text-align: center;
  white-space: nowrap;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.number-2 {
  letter-spacing: 0px;
  line-height: 14px;
  margin-left: 1em;
  min-height: 18px;
  min-width: 18px;
  text-align: center;
  white-space: nowrap;
  margin-top: 0.5em;
}

.repayment-percent-bar {
  align-items: flex-start;
  display: flex;
  height: 1em;
  height: 1em;
  flex: 1;
}

.top-row {
  display: flex;
}

.bootstrap-button {
  border: 1px solid black;
  border-radius: 30px;
  width: 90%;
  margin: 30px auto;
  text-align: center;
}

.bootstrap-button p {
  text-decoration: underline;
}

.importYourContract:hover {
  cursor: pointer;
} 

.integrate-button-panel {
  display: flex;
  justify-content: center;
}

.integrate-button-panel button {
  border: 1px solid black;
  border-radius: 30px;
  font-size: x-large;
  /* padding: 20px; */
  margin: 15px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.integrate-button-panel button > * {
  padding: 0 6%;
}

.integrate-deploy {
  border: 1px solid black;
  border-radius: 30px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-size: large;
  text-decoration: underline;
}

.integrate-deploy:hover {
  cursor: pointer;
}

  /**** INTEGRATE PAGE *****/



  /**** TOKEN DISTRIBUTION PAGE *****/

.user-header {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
}

.user-header > h4 {
  margin-left: 30px;
}

.profit-content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profit-content > * {
  width: 90%;
  margin: 15px auto;
  text-align: center;
}

.profit-sharing-agreement {
  border: 2px solid black;
  border-radius: 30px;
}

.profit-sharing-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px auto;
  margin-bottom: 50px;
}

.profit-sharing-controls > div {
  display: flex;
  flex-direction: column;
}

.design-share {
  border: 1px solid black;
  border-radius: 30px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-size: large;
  text-decoration: underline;
}

.design-sidebar-buttons > * {
  margin: 50px 0;
}

  /**** TOKEN DISTRIBUTION PAGE *****/


    /**** DESIGN PAGE *****/

    .design-main {
      display: flex;
      height:100%;
    }

    .design-sidebar {
      background-color: grey;
      text-align: center;
      min-width: 20%;
      max-width: 25%;
      min-height: 100vh;
    }

    .design-content {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    
    .design-content > * {
      width: 90%;
      margin: 15px auto;
      text-align: center;
    }
    

  /**** PROFIT SHARING PAGE *****/

  .profit-share {
    border: 1px solid black;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: large;
    text-decoration: underline;
    background-color: white;
  }

  .profit-share:hover {
    cursor: pointer;
  }

  .profit-sidebar {
    width: 30%;
    background-color: grey;
    display: flex;
    flex-direction: column;
  }
  
  .profit-sidebar-buttons > * {
    margin: 50px 0;
  }

  .pill {
    background-color: white;
    display: flex;
    border: 1px solid black;
    border-radius: 40px;
    justify-content: flex-start;
    padding: 5px 0px 5px 20px;
    margin: 40px 20px;
  }

/* .pill > * {
  margin-left: 200px;
} */

  .pill h4 {
    margin-left: 15px;
    font-size: 18px;
  }

  .pill:hover {
    cursor: pointer;
  }

  .contracts-pill {
    justify-content: space-between;
    align-items: center;
  }

  .listed-contracts {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .listed-contracts > h4 {
    margin: 2px 0 ;
  }

  .line-break {
    margin: 0 auto;
  }

  .control-section {
    border-right: 1px solid black;
    margin: 0 10px;
    padding: 0 20px;
  }

  .control-section:first-of-type {
    width: 80%;
  }

  .control-section:last-of-type {
    border-right: 0;
  }

  .total-profit-buttons {
    display: flex;
  }

  .distribution-rate-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .distribution-rate-buttons button, .total-profit-buttons button {
    border: 2px solid black;
    border-radius: 35px;
    width: 25%;
    margin: 5px;
    background-color: white;
  }

  .distribution-rate-buttons button:hover, .total-profit-buttons button:hover, .proximity-button:hover {
    cursor: pointer;
  }

  .proximity-button {
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .proximity-button > * {
    padding: 0 5px;
  }

  .deploy-button {
    padding: 15px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
    width: 60%;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .deploy-button > p {
    margin-right: 20px;
  }


  .active {
    background-color: black !important;
    color: white;
  }

  /**** PROFIT SHARING PAGE *****/



  /**** CALENDAR *****/

  .react-calendar {
    width: 100% !important;
  }

  /**** CALENDAR *****/



/******** DELETE THESE GLOBAL RULES AFTER  FIX MY GLOBAL STYLING ******/

.container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


/*****************************************************************/